// .add-card {
//   background-color: $primary;
//   color: #fff;
//   border-radius: 50%;
//   font-size: 1.5rem;
//   height: 50px;
//   width: 50px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   font-weight: 500;
// }

.add-card {
  padding: 1rem;
  font-weight: 500;
  font-size: 1.8rem;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}