.vertical-layout {
  .header-navbar {
    .brand-logo {
      background: url("../../../img/logo/vuesax-logo.png") no-repeat;
      background-position: -65px -54px;
      height: 24px;
      width: 35px;
    }
  }
}
